<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">


  <test name="Test">
    <classes>
      <class name="com.amazon.qa.tests.LinkPageTest"/>
      <class name="com.amazon.qa.tests.LoginPageTest"/>
      <class name="com.amazon.qa.tests.PageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
